body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgp1K2R63d5V54y3vmgu9yWoum_YgJqqz82-kWh6tMyXToYXC1Fg') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}